<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>FELIZ ANIVERSÁRIO!  </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">

            <hr>
            <hr>
            <h2 class="logo"> Oii, meeu amoooor! Feliz aniversário ❤️‍ </h2>
            <strong></strong>
            <hr>
            <hr>
         </div>
    </header>
    <P>
        Oi, tudo bem? Me dediquei bastante esses dias para tentar fazer algo diferente pra você.
        Até porque ja tava na hora de mudar aqueles "textinhos" todos os anos, né? rs...
        sendo que isso vai acabar sendo um textinho tbm kkkkk<br>
        Mas bem, não pensava que fosse tão difícil fazer essas coisas kkkkkkkkkk
        Minha intenção inicial seria fazer esse texto junto com umas fotos e talvez um video nosso,
        mas até agora no dia 07/03/2023 às 22:26 pm não descobri como se faz.
        <br> Porém eu sou brasileiro e não vou desistir &#x1F923; &#x2764; </P>
    <hr>
    <hr>
    <p>Até o momento ta bem dificil fazer o que eu estava em mente &#x1F614;</p>
    <img src="{{ url_for('static', filename='triste.gif')}}">
    <p>
        Mas veja só, parece que agora ta dando certooooo!!!!!!!!!
    <br>Ainda bem, passei uma noite tentando aprender colocar imagens e sem saber.
        Engraçado que eu vou narrando aqui o que vai acontecendo nessa
        minha luta pessoal &#x1F923;
    <hr>
    <hr>
    <p>
        Mas voltando ao foco principal, que é VOCÊ,
        O AMOR DA MINHA VIDA INTEIRINHA</p>
    <img src="{{ url_for('static', filename='segurando-coracao.jpg')}}">
    <p>
        Vamos la! Certeza de que o que vou falar aqui, ja falei outras
        vezes, mas nunca custa nada reforçar, ne? rs...
    <br>Antes que tudo, queria pedir desculpas. Sim, desculpas.
        Porque eu sei que não sou nada fácil de lhe dar. Eu sei, eu sei &#x1F641;
    <br>Mas saiba que apesar de tudo, meu amor segue inabalável.
    </p> 
    <img src="{{ url_for('static', filename='pikachu.jpg')}}">
    <p>
        Mas então, vida. Queria te contar um segredinho agora hehe
    <br> É que nesses ultimos meses, semanas, dias tem me dado uma vontade tão grande casar
        logo com vc, sabe.
        <br> Mano, tenho pensado tanto o quanto seria bom estar com vc pertinho todas as noites,
        manhas, seria tao perfeito aaaaaaaaa
    <p/>
    <img src="{{ url_for('static', filename='juntionhos.jpg')}}">
    <p>
        <br> Imagina só que maximo seria a gente dormir juntinhos todas as noites?
        Já pensou nessa coisa maravilhosa?
        <br> Poder dormir e acordar com o amor da sua vida 🥰
    </p>
    <img src="{{ url_for('static', filename='dormindo.jpg')}}">
    <p>
        Eu preciso viver isso logo, por favorzinho, Pai 😪
    <hr>
    <hr>
        Não só dormir, mas tbm muitas outras vantagens hehe
        como fazer varias receitinhas, né.
    <br>Como ja fizemos algumas vezes, mas agora seria bem mais recorrente, hein? 😍
    </p>
    <img src="{{ url_for('static', filename='cozinhando.jpg')}}">
    <p>
        E não se preocupe porque eu estarei ao seu lado
        todos os dias para ser seu porto seguro, seu lar, sua paz,
        <br> lhe protegendo de tudo e todos.
    </p>
    <img src="{{ url_for('static', filename='protegendo.jpg')}}">
    <p>
        Imagina só o quanto de momentos especiais nós iriamos colecionar
        aaaaaaaaa
        <br> Só de pensar nessas coisas eu fico bestinha 🥰
        <br> Agora vai umas imagenzinhas de momentos que teriammos juntinhos
        quando enfim casarmos 😍
    </p>
    <img src="{{ url_for('static', filename='tirando foto.jpg')}}">
    <img src="{{ url_for('static', filename='alimentando.png')}}">
    <img src="{{ url_for('static', filename='fotografando.jpg')}}">
    <img src="{{ url_for('static', filename='celular2.jpg')}}">
    <img src="{{ url_for('static', filename='chuva.jpg')}}">
    <p>
        E pensa só comigo agora, uma das melhores parte seria 
        a gente poder dar uma namoradinha em paz, ne?
        <br>Olha só que sonho? 😍
    </p>
    <img src="{{ url_for('static', filename='beijoca2.jpg')}}">
    <p>
        Pode vim, meu docinho, que seu noivo da conta desse avião que é vc ✈️
        <br>kkkkkkkkkkkk aiai
        <br> Mas é serio, viu?! Dou conta sim 🥰
    </p>
    <hr>
    <hr>
    <p>
        Mas enfim, vou finalizando por aqui falando mais uma vez do meu
        amor por vc,
        <br> e o quanto vc é importante e essêncial na minha vida.
        <br>Te amo TANTO, TANTO, TANTOOOOOOOO
        <br> As vezes eu marco zero com voce, dou umas bolas foras, mas nunca, nunca mesmo
        nada disso diminui meu amor.
    </p>
    <p>
        E sim... Espero que cê goste dos presentinhos, ta? Não sou muito bom com isso
        mas dessa vez vc me ajudou na escolha kkkkkkkkk
    <img src="{{ url_for('static', filename='presente.jpg')}}">
    <hr>
    <hr>
    Lembrando que minha idéia era fazer algo mais elaborado aqui
    mas acabou que era mais dificil do que eu esperava kkk
    <br> Mas nesse periodo de tempo que tive livre deu pra aprender um pouquinho
    e fazer algo diferente pra tentar tirar um sorrisinho seu que é tão lindo 😍🥰
    </p>
    <p>
        Não sei em que momento vou fazer vc ver isso daqui, mas no demais queria
        lhe desejar um FELIZ ANIVERSÁRIO, te desejar tudo de bom na tua vida,
        minha companhia smp primeiramente, né rs... (brincadeira)
        <br> Primeiramente a presença de Deus no seu coração. Ele mais do que
        ninguém te conhece bem.
        Que continue te abençoando muito, Ele tem visto seu esforço e luta.
        Mas saiba que no fim tudo vai dar certo na sua vida e da sua familia, ta bom?
        <br> Nunca esqueça de que vc tem um companheiro pra vida toda, que está aqui pra tudo.
        Seja la qual for a hora ou o momento, vou estar aqui pra vc SEMPRE.
        Sabe o por quê? PORQUE TE AMOOOOOOO 🥰
    </p>
    <p>
        Mas ta bom ja, ne kkkkkkk
        <br> Muitas felicidades, meu amor, principalmente ao meu lado.
        <br> Não esquece que te amo, ta ?
        <br> VEM CÁ ME DA UM ABRAÇO AGORA ❤️‍
    </p>
    <img src="{{ url_for('static', filename='abraco.jpg')}}">
</body>
</html>